version: 2
jobs:
  build:
    working_directory: ~/dist
    docker:
      - image: circleci/node:10.16.1
    steps:
      - checkout

  deploy:
    working_directory: ~/dist
    docker:
      - image: circleci/node:10.16.1
    steps:
      - checkout
      - run: yarn
      - run: yarn build
      - run: ./node_modules/.bin/firebase deploy --token=$FIREBASE_TOKEN --project introduction-my-web-site  --only hosting

workflows:
  version: 2
  main:
    jobs:
      - deploy:
          filters:
            branches:
              only: master
